<div class="row">

      <div>
        <!-- <input *ngFor="let i of sex" type="checkbox" [value]=" i" (click)="filterChange($event)">{{i }} -->
          <span class="form-group">
              <label for="Sex">Sex</label>
              <select class="form-control" id="Sex"  (ngModelChange)="filterChange($event, 'sex')" ngModel>
                <option [value]=""></option>
                <option *ngFor="let i of sex" [value]="i">{{ i }}</option>
              </select>
          </span>
            <span class="form-group">
                <label for="relation">Relationship</label>
                <select class="form-control" id="relation"  (ngModelChange)="filterChange($event, 'relation')" ngModel>
                  <option [value]="">select</option>
                  <option *ngFor="let i of relation" [value]="i">{{ i }}</option>
                </select>
              </span>
              <span >
                  <label for="race">Race</label>
                  <select class="form-control" id="race"  (ngModelChange)="filterChange($event, 'race')" ngModel>
                    <option [value]="">select</option>
                    <option *ngFor="let i of race" [value]="i">{{ i }}</option>
                  </select>
                </span>
                <button type="submit">Filter</button>
                <button type="button">Clear Filter</button>
      </div>



</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12 table-responsive" style="border: 2px solid lightgray">
    <!-- <div>Showing 10 of {{list.length}} records.</div> -->

    <table class="table  table-striped table-sm table-bordered">
      <thead>
        <th>sl.no</th>
        <th>Age</th>
        <th>WorkFlow</th>
        <th>Education</th>
        <th>Marital Status</th>
        <th>Occupation</th>
        <th>Relationship</th>
        <th>Race</th>
        <th>Sex</th>
        <th>Native Country</th>
      </thead>
      <tbody>
        <tr *ngFor="let contact of filteredlist  |  paginate: { itemsPerPage: 10, currentPage: p  } ; let i=index">
          <td>{{ i+1 }}</td>
          <td>{{contact.age}}</td>
          <td>{{contact.workclass}}</td>
          <td>{{contact.education}}</td>
          <td>{{contact['marital-status']}}</td>
          <td>{{contact.occupation}}</td>
          <td>{{contact.relation}}</td>
          <td>{{contact.race}}</td>
          <td>{{contact.sex}}</td>
          <td>{{contact.country}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
